<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HB Events</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="events" class="nav-link"
            ><mat-icon matPrefix>events</mat-icon> Events</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="gallery" class="nav-link"
            ><mat-icon matPrefix>collections</mat-icon>Gallery</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="about-us" class="nav-link"
            ><mat-icon matPrefix>description</mat-icon>About Us</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="contact-us" class="nav-link"
            ><mat-icon matPrefix>contact_page</mat-icon>Contact Us</a
          >
        </li>
      </ul>
      <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      <ul class="navbar-nav d-flex">
        <li class="nav-item" *ngIf="!username">
          <a routerLink="signup" class="nav-link"
            ><mat-icon matPrefix>account_circle</mat-icon> Register</a
          >
        </li>
        <li class="nav-item" *ngIf="!username">
          <a routerLink="login" class="nav-link"
            ><mat-icon matPrefix>login</mat-icon>Login</a
          >
        </li>
        <li *ngIf="username">
          <button mat-button [matMenuTriggerFor]="beforeMenu">Welcome {{username}}!</button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item><a class="btn" role="button"><mat-icon matPrefix>person</mat-icon> View Profile</a></button>
            <mat-divider></mat-divider>
            <button mat-menu-item><a class="btn" role="button" routerLink="logout"><mat-icon matPrefix>logout</mat-icon> Logout</a></button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand" routerLink="#">Navbar</a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a routerLink="events" class="nav-link"><mat-icon matPrefix>events</mat-icon> Events</a>
        </li>
        <li class="nav-item">
            <a routerLink="gallery" class="nav-link"><mat-icon matPrefix>collections</mat-icon>Gallery</a>
        </li>
        <li class="nav-item">
            <a routerLink="login" class="nav-link"><mat-icon matPrefix>login</mat-icon>Login</a>
        </li>
        <li class="nav-item">
            <a routerLink="signup" class="nav-link"><mat-icon matPrefix>account_circle</mat-icon>    Register</a>
        </li>
        
      <li class="nav-item">
        <a class="nav-link" routerLink="#scrollspyHeading1">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#scrollspyHeading2">Second</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" routerLink="#" role="button" aria-expanded="false">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="#scrollspyHeading3">Third</a></li>
          <li><a class="dropdown-item" routerLink="#scrollspyHeading4">Fourth</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="#scrollspyHeading5">Fifth</a></li>
        </ul>
      </li>
       
    </ul>
  </nav> -->
