<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <a mat-button routerLink="/"
        >H
        <img />
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/events"><mat-icon>events</mat-icon> Events</a>
      <a mat-list-item routerLink="/gallery"><mat-icon>gallery</mat-icon> Gallery</a>
      <a mat-list-item routerLink="/about-us">About Us</a>

      <!-- Logout link at the bottom -->
      <a mat-list-item routerLink="/logout" class="logout-link"
        ><mat-icon color="warn">logout</mat-icon> Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>HB Events</span>

      <!--  -->

      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here (Router Outlet) -->
    <router-outlet></router-outlet>
    <!-- Router Outlet -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HB Events</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->
