<p>scanner works!</p>
<!-- API Documentation here -->
<!-- https://github.com/zxing-js/ngx-scanner/wiki/Component-API#api -->
<!-- 
    - scanSuccess
    - scanFailure
    - scanError
    - scanComplete
    - camerasFound
    - camerasNotFound
 -->

<zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
</zxing-scanner>
<button mat-raised-button color="primary" (click)="startScanner()" *ngIf="!scannerEnabled" type="button">Start Scanner</button>
<button type="button" class="btn btn-danger" (click)="stopScanner()" *ngIf="scannerEnabled">Stop Scanner</button>

<!-- <qr-code [value]="qrInfo" [size]="350"></qr-code> -->

<!-- <button id="startscanner" mat-raised-button color="warn">Start Scanner</button> -->