/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

th{
    background-color: ghostwhite;
  }
  .mat-row:nth-child(even){
      background-color: ghostwhite;
  }
  
  .mat-row:nth-child(odd){
      background-color:#ffffff;
  }

  .burlywood {
    background-color: burlywood;
  }
  
  .darkkhaki {
    background-color: darkkhaki;
  }
  
  .voilet {
    background-color: violet;
  }